* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #080808;
}

section.container {
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.container > div { 
    cursor: pointer;
    width: 300px;
    height: auto;
    background: rgb(68, 68, 68);
    box-shadow: 0px 5px 0 black;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    transition: all .3s;
    border-radius: .2em;
    border-bottom: 0.3em solid greenyellow
}

img {
    margin-bottom: 2em;
    border-radius: .5em;
}

.container > div:hover {
    background-color: rgba(128, 128, 128, 0.637);
    border-bottom-color:rgb(14, 207, 79);
}

h1,h2,h3,h4 {
    text-shadow: 2px 2px 2px black;
}
h1 {
    font-size: 1.1em;
}
h3 {
    font-size: .9em;
}